<!DOCTYPE html>
<html lang="en">
{{ partial "header" . }}
<body>
  <div class='home-sections-container'>
    <div class='home-sections'>
      <section id='recent-posts' class='home-section'>
  <header>
    <h2 class='home-section-title title'>
      Results
    </h2>
  </header>

  <div class='list-container'>
    <ul class='list'>

    
	 <div id="results-wrapper">
	</div>

    </ul>
  </div>
</section>

    </div>
  </div>
</main>

    {{ partial "footer" }}
    {{ partial "footer-search" }}
    {{ partial "footer-searchbutton" }}

</body>
</html>
