
<nav id='main-menu' class='main-menu-container clearfix' aria-label='{{ i18n "mainMenu" }}'>
  <ul class='main-menu'>
  {{ range .Site.Menus.main }}
    {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
    <li>
      <a {{ if $isCurrent -}} class='current' aria-current='page' {{ end -}} href='{{ .URL }}'>
        {{- .Name -}}
      </a>
    </li>
  {{ end }}
    <li class="search-controls">
      <input type="text" id="search-input" class="search-input" placeholder="Search">
      <button id="search-button" class="search-button">Search</button>
    </li>
  </ul>
</nav>
