.list-item .meta,
.meta .posted-on {
  /* Hide dates. */
  display: none;
}

.practices-list {
  list-style-type: none;
  margin-left: 0;
}

.practices-list:last-child {
  margin-bottom: 0;
}

/* Make links more visible */

.entry-content a,
.list-item a {
  border-bottom: .125em solid #000;
}

.list-item a:active,
.list-item a:focus,
.list-item a:hover {
    border-bottom-color: #ffcd00;
}
