/* BEGIN things that need to get ported to new theme */

/* Search Bar Styling */

.search-input,
.search-button {
	font-size: 1.125rem;
	line-height: 1;
}

.search-controls .search-input {
	display: inline;
	width: 250px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 8px;
}

.search-button {
	cursor: pointer;
	padding: 9px; /* 1px more of padding because this button doesn't have a border. */
}

.search-button:hover,
.search-button:focus {
	background-color: #ffdc4d;
	color: #000;
}

@media (min-width: 768px) {
	.search-controls {
		float: right;
		margin-top: -5px;
	}
}

.list-item .meta,
.meta .posted-on {
  /* Hide dates. */
  display: none;
}

.related-list {
  list-style-type: none;
  margin-left: 0;
}

.related-list:last-child {
  margin-bottom: 0;
}

.entry-cover figcaption {
  display: none;
}

/* Make links more visible */

.entry-content a,
.list-item a,
.related-list a {
  border-bottom: .125em solid #212121;
}

.entry-nav .related-list a {
  display: inline;
  font-style: normal;
}

.related-list li {
  margin-top: 1em;
}

.related-list li:first-child {
  margin-top: 0;
}

.list-item a:active,
.list-item a:focus,
.list-item a:hover,
.related-list a:active,
.related-list a:focus,
.related-list a:hover {
    border-bottom-color: #ffcd00;
}
