{{ partial "header.html" . }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url({{.Params.image}})">
  {{ else }}
  <header class="main-header post-head" style="background-image: url({{.Params.image | relURL}})">
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
    <nav class="main-nav overlay clearfix">
{{end}}

      {{ if .Site.Params.logo }}
        <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{ .Site.Params.logo | relURL }}" alt="Home" /></a>
      {{end}}

      {{ partial "search-bar.html" . }}

      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
      {{else}}
        {{ if .Site.Params.RSSLink}}
          <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{else}}
          <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{end}}
      {{end}}
    </nav>

    {{if eq .Params.index true}}
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
    {{end}}
</header>

<main class="content" role="main">
  <article class="post {{ .Section }}">
    <header class="post-header">
      <section class="post-meta clearfix">
        {{ $authorScratch := newScratch }}
        {{ range $.Params.authors }}
          {{ $currrentAuthor := index $.Site.Data.content.author .}}
          {{ if $currrentAuthor }}
            {{ $authorScratch.Add "listOfAuthors" (slice $currrentAuthor) }}
          {{ else }}
            {{/*Author isn't in site data. Build a simple author dictionary so that we can output the author's name.*/}}
            {{ $authorScratch.Add "listOfAuthors" (slice (dict "title" . "github" .))}}
          {{ end }}
        {{ end }}
        {{ $listOfAuthors := $authorScratch.Get "listOfAuthors"}}
        {{ partial "author.html" $listOfAuthors }}
    
        <p class="post-date">
        Last update:
          <time datetime="{{ .Page.Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Page.Lastmod.Format "January 2, 2006" }}
          </time>
        </p>
      </section>

      {{ partial "content-heading.html" .Params }}

    </header>

    <section class="post-content">
    {{if and (isset .Params "people") (isset .Params "time") (isset .Params "difficulty") }}
    <div class="how-to-box">
        <div class="how-to-box-item">
            <div class="icon-people how-to-box-icon"></div>
            <p class="how-to-box-text"><i>No. People</i></p>
            <p class="how-to-box-text">{{ .Params.people }}</p>
        </div>
        <div class="how-to-box-item">
            <div class="icon-time how-to-box-icon"></div>
            <p class="how-to-box-text"><i>Time</i></p>
            <p class="how-to-box-text">{{ .Params.time }}</p>
        </div>
        <div class="how-to-box-item">
            <div class="icon-stats how-to-box-icon"></div>
            <p class="how-to-box-text"><i>Difficulty</i></p>
            <p class="how-to-box-text">{{ .Params.difficulty }}</p>
        </div>
        <div class="how-to-box-item">
            <div class="icon-speach how-to-box-icon"></div>
            <p class="how-to-box-text"><i>Participants</i></p>
            {{ if isset .Params "participants" }}
            <p class="how-to-box-text">{{ range first 1 .Params.participants }} {{ . }}{{ end }}{{ range after 1 .Params.participants }}, {{ . }}{{ end }}</p>
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ if .Params.perspectives }}
      {{ $numPerspectives := len .Params.perspectives }}
      <p><em>
        This {{ .Type }} is part of: 
        {{ range $index, $practice := $.Params.perspectives }}
          {{ partial "link.html" ($.Site.GetPage "perspective" $practice) }}{{ if lt (add $index 1) $numPerspectives }},{{ else }}.{{ end }}
        {{ end }}
      </em></p>
    {{ end }}
    
    {{ if eq .Type "perspective" }}
      This {{ .Type }} contains:
      <ul>
        {{ range where .Site.Pages "Params.perspectives" "intersect" ( slice .File.BaseFileName ) }}
          <li>{{ partial "link.html" . }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ .Content }}

{{if ne .Params.index true}}
{{if .Menus.main.HasChildren }}
<nav class="navchildren">
  <ul>
    <!-- Children contents -->

    {{ range .Menus.main.Children }}
    <li><a href="{{.URL}}" >{{ .Name }}</a></li>
    {{ end }}

  </ul>
</nav>
{{ end }}
{{ end }}

</section>
{{ if eq .Type "practice" }}
  <!-- TODO: Expand this to work with any content type -->
  {{ partial "button.html" (dict "practicePath" .File.BaseFileName "buttonText" "Improve this practice") }}
{{ end }}

{{ if .Params.authors }}
<section class="social-footer">
  {{ partial "share.html" . }}
</section>
{{ end }}

{{ if .Params.area }}
    {{ partial "suggestions.html" . }}
{{ end }}
</article>

</main>

{{ partial "button.html" (dict "absolutePath" "/" "buttonText" "View all practices") }}

{{ partial "footer.html" . }}
