.list-item .meta,
.meta .posted-on {
  /* Hide dates. */
  display: none;
}

/* For custom taxonomies, display text instead of a broken icon */

.entry-footer .journeys .screen-reader,
.entry-footer .routes .screen-reader {
  clip: none;
  width: auto;
  height: auto;
  overflow: visible !important;
  position: static !important;
  font-weight: 600;
}

.entry-footer .journeys .taxonomyTerm-icon,
.entry-footer .routes .taxonomyTerm-icon {
  display: none;
}
