.list-item .meta,
.meta .posted-on {
  /* Hide dates. */
  display: none;
}

.related-list {
  list-style-type: none;
  margin-left: 0;
}

.related-list:last-child {
  margin-bottom: 0;
}

.entry-cover figcaption {
  display: none;
}

/* Make links more visible */

.entry-content a,
.list-item a,
.related-list a {
  border-bottom: .125em solid #212121;
}

.entry-nav .related-list a {
  display: inline;
  font-style: normal;
}

#searchInput {
	width: 300px;
	margin-right: 7px;
	margin-bottom: 5px;
}



.related-list li {
  margin-top: 1em;
}

.related-list li:first-child {
  margin-top: 0;
}

.list-item a:active,
.list-item a:focus,
.list-item a:hover,
.related-list a:active,
.related-list a:focus,
.related-list a:hover {
    border-bottom-color: #ffcd00;
}
