{{ if .}}
  {{$authors := .}}
  {{$coauthors := after 1 $authors }}
  {{$numcoauthors := len $coauthors}}

  {{ range first 1 . }}
    {{$authorname := .title}}
    {{$authorbio := or .bio ""}}
    {{$authorlocation := or .location ""}}
    {{$authorgithubsite :=  print "https://github.com/" .github }}
    {{$authorwebsite := or .website $authorgithubsite }}
    {{$authoravatar :=  print "https://github.com/" .github ".png?size=140" }}

    <section class="author">
      {{with $authoravatar}}
      <figure class="author-avatar">
          <a class="img" href="{{$authorwebsite}}" style="background-image: url({{. | relURL}})"><span class="hidden">{{$authorname}}'s Picture</span></a>
      </figure>
      {{end}}
      <div class="author-info">
        <h4><a href="{{$authorwebsite}}">{{$authorname}}</a></h4>
        {{ if $coauthors }}
          <p class="author-co-authors">
            Co-Author{{ if gt $numcoauthors 1 }}s{{end}}:
            {{ range $key, $coauthor := $coauthors }}
              {{ $coauthor.title }}{{- if lt $key (sub $numcoauthors 1) }},{{ end }}
            {{ end }}
          </p>
        {{ end }}
      </div>
    </section>
  {{end}}
{{end}}
