{{ if .}}
{{ range first 1 . }}
    
  {{$authorname := .name}}
  {{$authorbio := or .bio ""}}
  {{$authorlocation := or .location ""}}
  {{$authorgithubsite :=  print "https://github.com/" .github }}
  {{$authorwebsite := or .website $authorgithubsite }}
  {{$authoravatar :=  print "https://github.com/" .github ".png?size=140" }}

  {{with $authoravatar}}
  <figure class="author-image">
      <a class="img" href="{{$authorwebsite}}" style="background-image: url({{. | relURL}})"><span class="hidden">{{$authorname}}'s Picture</span></a>
  </figure>
  {{end}}

  <section class="author">
    <h4><a href="{{$authorwebsite}}">{{$authorname}}</a></h4>
    {{if $authorbio}}
    <p>{{$authorbio}}</p>
    {{else}}
    <p>Read <a href="{{$authorwebsite}}">more posts</a> by this author.</p>
    {{end}}
    <div class="author-meta">
      {{with $authorlocation}}<span class="author-location icon-location">{{.}}</span>{{end}}
      {{with $authorwebsite}}<span class="author-link icon-link"><a href="{{.}}">{{.}}</a></span>{{end}}
    </div>
  </section>
  {{end}}
  <section class="author">

    <h5> Co-authors.... </h5>
    {{ range after 1 . }}
    <p> {{ .name }} </p>
    {{ end }}
  </section>
{{end}}