<section class="article-heading">
    <div class="inline-block ">
        <h2 class="practice-title"> {{.title }}</h2>
        {{ if .subtitle }}
            <p class="practice-subtitle fix-width">{{ .subtitle }}</p>
        {{ end }}
    </div>

    {{ if .area }}
    <div class="inline-block mobius-loop-position ">
        <img class="loop-img" src="/images/loop-positions/{{.area}}.svg" alt="{{.area}} loop position">
    </div>
    {{ end }}
</section>

{{ if .jumbotron }}
<div class="jumbotron">
    <img class="jumbotron-img" src="{{ .jumbotron }}" alt="{{ .jumbotronAlt }}">
</div>
{{ end }}
