
 {{ range .Data.Pages }}
        {{if eq .Type "home" }}
        <div class="index-content post">
          <div class="post-content">
            {{.Content}}
          </div>
        </div>
        {{end}}
    {{ end }}
    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if .Site.Params.paginatedsections }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedsections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    <div class="post">
      {{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
      {{ $list := where $list "Section" "!=" "" }}
      {{ $practiceMap := newScratch }}
      {{ range $list }}
        {{ $currentItem := (dict "pageParams" .Params "RelPermalink" .RelPermalink ) }}
        {{ $practiceMap.Add .Params.area (slice $currentItem) }}
      {{end}}

      <section class="loop-categories">
          <a name="discovery-loop-outcomes"></a><a name="discovery-loop-why"></a>
          <h2>Discovery</h2>
          <p>The Discovery loop starts with the current as-is state. Practices on this loop lead to answering questions such as <i>Why are you doing this? What problems are you trying to solve, and for whom? How will you measure the Outcomes?</i></p>
          <div class="tile-grid">
            {{ range $practiceMap.Get "discovery-loop-why" }}
              {{ partial "tile.html" . }}
            {{end}}
            {{ range $practiceMap.Get "discovery-loop-outcomes" }}
              {{ partial "tile.html" . }}
            {{end}}
          </div>

      </section>

      <section class="loop-categories">
        <a name="options"></a>
        <h2>Options Pivot</h2>
        <p>The Options Pivot explores how you will deliver the outcomes. <i> What are the different options? What do you need to make this happen?</i></p>
        <div class="tile-grid">
            {{ range $practiceMap.Get "options" }}
              {{ partial "tile.html" . }}
            {{end}}
        </div>

      </section>

      <section class="loop-categories">
        <a name="delivery-deliver"></a><a name="delivery-measure-and-learn"></a>
        <h2>Delivery</h2>
        <p>The Delivery Loop focuses on delivering options and getting feedback from the stakeholders. <i> What was measured impact? What did you learn?</i></p>
        <div class="tile-grid">
            {{ range $practiceMap.Get "delivery-deliver" }}
              {{ partial "tile.html" . }}
            {{end}}
            {{ range $practiceMap.Get "delivery-measure-and-learn" }}
              {{ partial "tile.html" . }}
            {{end}}
        </div>

      </section>

      <section class="loop-categories">
        <a name="foundation-culture-and-collaboration"></a><a name="foundation-technical"></a>
        <h2>Foundation</h2>
        <p>The Foundation focuses on creating a team culture, an environment of collaboration and technical engineering practices. These support fast and iterative journeys through the discovery and delivery loops. <i> Without the foundation teams cannot reach sustainable continuous delivery.</i></p>
        <div class="tile-grid">
          {{ range $practiceMap.Get "foundation-culture-and-collaboration" }}
            {{ partial "tile.html" . }}
          {{end}}
          {{ range $practiceMap.Get "foundation-technical" }}
            {{ partial "tile.html" . }}
          {{end}}
        </div>
      
      </section>

      {{ partial "button.html" (dict "absolutePath" "/admin/#/collections/practice/new" "buttonText" "Add new practice") }}
    </div>
