
<div class="nav">


    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}
        {{with .Site.Menus.main}}
        {{ range sort . "Weight" "desc"}}
        {{/*  <script>console.warn("STUFF", {{.}})</script>  */}}
        {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            {{ if in .URL "http" }}
            <a href="{{.URL}}" target="_blank">{{.Name}}</a>
            {{ else }}
            <a href="{{.URL}}" target="_self">{{.Name}}</a>
            {{ end }}
            </li>
        {{end}}
        {{end}}

</div>
<span class="nav-cover"></span>
