<footer class='entry-footer-container'>
  <div class='entry-footer'>
    {{ if not ( eq .Section "page" ) }}
    {{ if .Params.stages }}
      <ul>
        {{ range $stage := .Params.stages }}
          <li><a href="/stages/{{ $stage }}">{{ $stage }}</a></li>
        {{ end }}
      </ul>
    {{ end }}

  {{ range $taxonomy, $pages := .Site.Taxonomies }}
    {{- if not ( eq $taxonomy "authors" ) -}}
      {{- if ( index $.Params $taxonomy ) -}}
        {{- $.Scratch.Set "taxonomy" $taxonomy -}}
        {{- partial "entry/taxonomy-list" $ -}}
      {{- end -}}
    {{- end -}}
  {{ end }}
  </div>
</footer>
{{ end }}
